APP_NAME=ConsultMee
APP_URL=https://consultmee.in
APP_ENV=production

DB_HOST=localhost
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password

MAIL_FROM=no-reply@consultmee.in
MAIL_FROM_NAME=ConsultMee
MAIL_REPLY_TO=info@consultmee.in
